{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary ml-2 mt-2" type="submit" value="Pesquisar">
        </form>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>Não se encontra logado!</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}