{% extends 'base.html' %}

{% block title %}<h1>Victim Details</h1>{% endblock %}
{% block content %}
    <h1>Victim Details</h1>
    <h1>Id: {{ victim.id }} - Name: {{ victim.name }}</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseHeader" aria-expanded="true" aria-controls="CollapseHeader">
                    Victim Information
                </button>
            </h2>

            <div id="collapseHeader" class="accordion-collapse show" aria-labelledby="headingHeader"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li><b>Birthdate:</b> {{ victim.birthdate }}</li>
                        <li><b>Age:</b> {{ victim.age }}</li>
                        <li><b>Gender:</b> {{ victim.gender }}</li>
                        <li><b>Identity Number:</b> {{ victim.identity_number }}</li>
                        <li><b>Address:</b> {{ victim.address }}</li>
                        <li><b>Circumstances:</b> {{ victim.circumstances }}</li>
                        <li><b>Disease History:</b> {{ victim.disease_history }} </li>
                        <li><b>Allergies:</b> {{ victim.allergies }}</li>
                        <li><b>Last Meal:</b> {{ victim.last_meal }}</li>
                        <li><b>Time of Last Meal:</b> {{ victim.last_meal_time }}</li>
                        <li><b>Usual Medication:</b> {{ victim.usual_medication }}</li>
                        <li><b>Risk Situation:</b>{{ victim.risk_situation }}</li>
                        <li><b>Medical Followup:</b> {{ victim.medical_followup }}</li>
                        <li><b>Health Unit Origin:</b> {{ victim.health_unit_origin }}</li>
                        <li><b>Health Unit Destination:</b> {{ victim.health_unit_destination }}
                        </li>
                        <li><b> Episode Number:</b> {{ victim.episode_number }}</li>
                        <li><b>Comments:</b> {{ victim.comments }}</li>
                        <li><b>Type of Emergency:</b>{{ victim.type_of_emergency }}</li>
                        <li><b>Hora de SIV/SAV:</b>{{ victim.SIV_SAV }}</li>
                        <li><b>Type of Transport:</b>{{ victim.type_of_transport }}</li>
                        <li><b>Non Transport Reason:</b>{{ victim.non_transport_reason }}</li>
                        <li><b>Occurrence:</b><a
                                href="{% url 'occurrence_detail' victim.occurrence.id %}">{{ victim.occurrence.id }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="CollapseOne">
                    Victim Evaluations
                </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <table>
                        <thead>
                        <tr>
                            <th><b>Hours</b>
                            <th><b>Ventilation</b>
                            <th><b>SPO2</b></th>
                            <th><b>O2</b></th>
                            <th><b>ETCO2</b></th>
                            <th><b>Pulse</b></th>
                            <th><b>ECG</b></th>
                            <th><b>Skin</b></th>
                            <th><b>Temperature</b></th>
                            <th><b>Systolic Blood Pressure</b></th>
                            <th><b>Diastolic Blood Pressure</b></th>
                            <th><b>Pupils</b></th>
                            <th><b>Pain</b></th>
                            <th><b>Glycemia</b></th>
                            <th><b>NEWS</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evaluation in victim.evaluations.all %}
                            <tr>
                                <td>{{ evaluation.hours }} </td>
                                <td>{{ evaluation.ventilation }}</td>
                                <td>{{ evaluation.spo2 }}</td>
                                <td>{{ evaluation.o2 }}
                                <td>{{ evaluation.etco2 }} </td>
                                <td>{{ evaluation.pulse }}</td>
                                <td>{{ evaluation.ecg }}</td>
                                <td>{{ evaluation.skin }}</td>
                                <td>{{ evaluation.temperature }}</td>
                                <td>{{ evaluation.systolic_blood_pressure }}</td>
                                <td>{{ evaluation.diastolic_blood_pressure }}</td>
                                <td>{{ evaluation.pupils }}</td>
                                <td>{{ evaluation.pain }}</td>
                                <td>{{ evaluation.glycemia }}</td>
                                <td>{{ evaluation.news }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="CollapseTwo">
                    Victim Symptoms
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li><b>Comments:</b>{{ victim.symptom.comments }}</li>
                        <li><b>Image Path:</b>{{ victim.symptom.image_path }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="CollapseThree">
                    Victim RCP Procedures
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li><b>Witnessed:</b>{{ victim.procedure_rcp.witnessed }}</li>
                        <li><b>SBV/DAE:</b>{{ victim.procedure_rcp.SBV_DAE }}</li>
                        <li><b>1st Rhythm:</b>{{ victim.procedure_rcp.first_rhythm }}
                        </li>
                        <li><b>Number of Shocks:</b>{{ victim.procedure_rcp.nr_shocks }}
                        </li>
                        <li><b>Recovery:</b>{{ victim.procedure_rcp.recovery }}</li>
                        <li><b>Downtime:</b>{{ victim.procedure_rcp.downtime }}</li>
                        <li><b>Mechanical
                            Compressions:</b>{{ victim.procedure_rcp.mechanical_compressions }}</li>
                        <li><b>Performed:</b>{{ victim.procedure_rcp.performed }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="CollapseFour">
                    Victim Ventilation Procedures
                </button>
            </h2>

            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li>
                            <b>Clearance:</b>{{ victim.procedure_ventilation.clearance }}</li>
                        <li><b>Oropharyngeal
                            Tube:</b>{{ victim.procedure_ventilation.oropharyngeal }}
                        </li>
                        <li><b>Laryngeal
                            Tube:</b>{{ victim.procedure_ventilation.laryngeal_tube }}</li>
                        <li><b>Endotracheal
                            Tube:</b>{{ victim.procedure_ventilation.endotracheal }}
                        </li>
                        <li><b>Laryngeal
                            Mask:</b>{{ victim.procedure_ventilation.laryngeal_mask }}</li>
                        <li><b>Mechanical
                            Ventilation:</b>{{ victim.procedure_ventilation.mechanical_ventilation }}</li>
                        <li><b>CPAP:</b>{{ victim.procedure_ventilation.cpap }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false"
                        aria-controls="CollapseFive">
                    Victim Circulation Procedures
                </button>
            </h2>

            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">

                    <ul class="list-group">
                        <li><b>Temperature
                            Monitoring:</b>{{ victim.procedure_circulation.temperature_monitoring }}
                        </li>
                        <li>
                            <b>Compression:</b>{{ victim.procedure_circulation.compression }}
                        </li>
                        <li>
                            <b>Tourniquet:</b>{{ victim.procedure_circulation.tourniquet }}</li>
                        <li><b>Pelvic
                            Belt:</b>{{ victim.procedure_circulation.pelvic_belt }}
                        </li>
                        <li><b>Venous
                            Access:</b>{{ victim.procedure_circulation.venous_access }}</li>
                        <li>
                            <b>Patch:</b>{{ victim.procedure_circulation.patch }}</li>
                        <li><b>ECG:</b>{{ victim.procedure_circulation.ecg }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false"
                        aria-controls="CollapseSix">
                    Victim Protocol Procedures
                </button>
            </h2>

            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">

                    <ul class="list-group">
                        <li>
                            <b>Immobilization:</b>{{ victim.procedure_protocol.immobilization }}
                        </li>
                        <li><b>TEPH:</b>{{ victim.procedure_protocol.TEPH }}
                        </li>
                        <li><b>SIV</b>{{ victim.procedure_protocol.SIV }}
                        </li>
                        <li><b>VV
                            AVC:</b>{{ victim.procedure_protocol.VV_AVC }}</li>
                        <li><b>VV
                            Coronary:</b>{{ victim.procedure_protocol.VV_coronary }}</li>
                        <li><b>VV
                            Trauma:</b>{{ victim.procedure_protocol.vv_trauma }}</li>
                        <li><b>VV
                            PCR:</b>{{ victim.procedure_protocol.VV_PCR }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false"
                        aria-controls="CollapseSeven">
                    Victim Scale Procedures
                </button>
            </h2>

            <div id="collapseSeven" class="accordion-collapse collapse"
                 aria-labelledby="headingSeven"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">

                    <ul class="list-group">
                        <li>
                            <b>Cincinatti:</b>{{ victim.procedure_scale.cincinatti }}</li>
                        <li>
                            <b>PROACS:</b>{{ victim.procedure_scale.PROACS }}</li>
                        <li><b>RTS:</b>{{ victim.procedure_scale.RTS }}
                        </li>
                        <li>
                            <b>MGAP:</b>{{ victim.procedure_scale.MGAP }}</li>
                        <li>
                            <b>RACE:</b>{{ victim.procedure_scale.RACE }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false"
                        aria-controls="CollapseEight">
                    Victim Pharmacies
                </button>
            </h2>

            <div id="collapseEight" class="accordion-collapse collapse"
                 aria-labelledby="headingEight"
                 data-bs-parent="accordionExample">
                <div class="accordion-body">

                    <table>
                        <thead>
                        <tr>
                            <th><b>Time</b></th>
                            <th><b>Pharmacy</b></th>
                            <th><b>Dose</b></th>
                            <th><b>Route</b></th>
                            <th><b>Adverse Effect</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pharmacy in victim.pharmacies.all %}
                            <td>{{ pharmacy.time }} </td>
                            <td>{{ pharmacy.pharmacy }}</td>
                            <td>{{ pharmacy.dose }}</td>
                            <td>{{ pharmacy.adverse_effect }}
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

